<h1>Create a New Shelter</h1>

<%= render partial:"shelter_form", locals: {
                                            path:"/shelters",
                                            method: :post,
                                            button_text: "Create Shelter",
                                            shelter_name: nil,
                                            shelter_address: nil,
                                            shelter_city: nil,
                                            shelter_state: nil,
                                            shelter_zip: nil,
                                            } %> 
