/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  box-sizing:border-box;
  font-family:sans-serif;
}
body {
  margin:0px;
}
a{
  font-weight: lighter;
  text-decoration: none;
  font-size:1.1em;
  color: blue;
}
h1{
  width:auto;
  text-align:center;
  font-size:3em;
  color:black;
}
/* flash message */
.flash-message{
  padding-left:10%
}
/* navbar */
.navbar{
  height:100px;
  background-color:rgba(0, 0, 225, .2);
  color:rgba(0, 0, 0, .8);
 }
#main-title{
  margin-top:.75em;
  margin-left: 2%;
  display:inline-block;
  color:rgba(0, 0, 120, .6);
  text-decoration:underline;
  font-size:2.1em;
}
.nav-links{
  height:50%;
  display:inline;
  float:right;
  margin-right:5%;
  font-size:24px;
  padding-top:1.2em;
}
.nav-links .favorites-counter{
  display:inline
}
.navbar a{
  text-decoration: none;
  color:rgba(0, 0, 0, .3);
  font-size:1.1em;
 }
.navbar a:hover{
  padding-top:.5em;
  font-size:40px;
  color:rgba(0, 0, 0, .5);
 }

/* pets index
    shelter pets index*/


.pet-container{
  height:20em;
}
.pet-container:hover{
  background-color:rgba(0, 225, 225, .1)
}
.pet-img{
  display:inline-block;
  float:left;
  width:33.3%;
  height:100%;
}
.pet-img img{
  width:auto;
  height:100%;
  border-radius: 0% 10% 10% 0%;
  float:right;
}
.pet-info{
  display:inline;
  float:left;
  width:33.3%;
  height:100%;
  text-align:center;
  font-size:25px;
}
.pet-info a{
  text-decoration:none;
  color:rgba(0, 0, 0, .4);
  width:fit-content;
}
.pet-info a:hover{
  color:rgba(0, 0, 0, .7)
}
.pet-crud-links{
  display:inline;
  float:left;
  width:33.3%;
  height:100%;
  text-align:center;
  border-bottom: 1px solid rgba(0, 0, 255, .2)
}
.pet-crud-links p{
  display:block;
  margin-top:4.5em;
}
.pet-crud-links a{
  color:rgba(0, 0, 0, .4);
  font-size:25px;
  text-decoration:none;
}
.pet-crud-links a:hover{
  color:rgba(0, 0, 0, .7)
}
#create-pet-link a{
  color:rgba(0, 0, 0, .4);
  font-size:40px;
  text-decoration:none;
  margin-left:10%;
}
#create-pet-link a:hover{
  color:rgba(0, 0, 0, .7);
}

/* update pet page
    create pet page
    update shelters
    create shelters forms*/
.field-container{
  margin:5px;
  font-size: 2em;
  margin-top: 5%;
}
.submit-button{
  text-align:center;
  padding:50px;
  background-color:rgba(0, 225, 225, .1);
}
.submit-button input{
  float:none;
  width:30%;
  font-size: 30px;
}
.input-field{
  border-bottom: 1px dotted rgba(0, 0, 255, .1);
}
.input-field input{
  width:50%;
  float:right;
  font-size:20px;
  margin-right:10%;
  margin-top:6px;
}
.input-field label{
  margin-left:10%;
}
.input-field textarea{
  margin-left:30%;
}

/* pet show */
.pet-show-container{
  margin:2%;
  background-color:rgba(0, 225, 225, .1);
  border-radius: 10%;
}
.pet-show-img{
  width:100%;
  display:block;
  text-align: center;
}
.pet-show-img img{
  min-width:52%;
  max-width:100%;
  max-height: auto;
  border-radius: 10%;
}
.pet-show-info{
  float:left;
  width:50%;
  display:inline;
  font-size:25px;
  text-align:center;
}
.pet-show-links{
  float:left;
  width:50%;
  height:100%;
  display:inline;
  text-align:center;
}
.pet-show-links p, .favorite-info p{
  display:block;
  margin-top:3em;
}
.pet-show-links a, .favorite-info a{
  color:rgba(0, 0, 0, .4);
  font-size:25px;
  text-decoration:none;
}
.pet-show-links a:hover, .favorite-info a:hover{
  color:rgba(0, 0, 0, .7)
}
/* shelter index */
#new-shelter-link{
  margin-bottom:5em;
}
#new-shelter-link a{
  color:rgba(0, 0, 0, .4);
  font-size:40px;
  text-decoration:none;
  margin-left:10%;
}
#new-shelter-link a:hover{
  color:rgba(0, 0, 0, .7);
  width: 100%;
}
.shelters-list{
  font-size:24px;
}
.shelter-name{
  display:inline;
  float:left;
  width:60%;
  height:4em;
  text-align:center;
}
.shelter-name:hover{
  background-color: rgba(0, 0, 225, .2);
}
.shelter-name a{
  color:rgba(0, 0, 0, 1);
  text-decoration: none;
  text-align:center;
}
.shelter-name a:hover{
  font-size:50px;
}
.shelter-name h2{
  margin:0px;
  margin-top:8px;
}
.shelter-links{
  display:inline;
  float:left;
  width:40%;
  height:4em;
  border-bottom: 1px solid rgba(0, 255, 255, .2);
}
.shelter-links a{
  display:block;
  text-decoration: none;
  color:rgba(0, 0, 0, .4);
  padding:.33em 0;
  padding-left: 3%;
}
.shelter-links a:hover{
  color:rgba(0, 0, 0, .7)
}

/* shelter show page */
.shelter-show-address {
  text-align: center;
  font-size:28px;
  margin-bottom:1em;
}
.shelter-show-address p{
  margin:5px 0px;
}
.shelters-pets-link{
  margin-bottom:3em;
}
.shelters-pets-link a{
  color:rgba(0, 0, 0, .4);
  font-size:30px;
  text-decoration:none;
  margin-left:10%;
}
.shelters-pets-link a:hover, .review-links a:hover, .favorites-links a:hover{
  color:rgba(0, 0, 0, .7);
  width: 100%;
}
.shelter-show-links, .review-links, .favorites-links{
  width:100%;
  height:4em;
  border-bottom: 1px solid rgba(0, 255, 255, .2);
  text-align:center;
}
.shelter-show-links a, .review-links a{
  text-decoration: none;
  color:rgba(0, 0, 0, .4);
  margin-top:1em;
  font-size:24px;
  padding:1em;
}
.shelter-show-links a:hover{
  color:rgba(0, 0, 0, .7)
}
.shelter-stats{
  text-align: center;
  margin-bottom: 15px;
}
.shelter-stats p, h2{
  display: inline;
  color:rgba(0, 0, 0, .6);
  overflow-wrap: break-word;
}
.review-info{
  padding-left:20%;
  padding-right:20%;
}
#review-title{
  text-align: center;
  font-size:20px;
  text-decoration: underline;
}

/* pet adoption apps index */
.applicants-list{
  text-align:center;
}
#pet-adoption-app-title{
  color:black;
}
.applicants-list p{
  font-size: 25px;
}

/* favorites index page */
.list img{
  width:auto;
  height:100%;
  border-radius: 15%;
  float:right;
  margin-right:10%;
}
.favorite-img, .favorite-info{
  width: 48%;
  display: inline;
  float:left;
  height: 30em;
  margin:1%;
}
.favorite-info a{
  display: block;
  text-align: center;
  padding-right:35%;
}
.pets-applied-for{
  padding-left:1%
}
 .favorites-links a {
   text-decoration: none;
   color:rgba(0, 0, 0, .4);
   margin-top:1em;
   font-size:24px;
 }
 .favorites-selection{
   margin-left:8%;
   margin-bottom:20px;
 }

/* landing page */

.landing-page{
  height:850px;
  background-image: url(https://www.coloradoanimalrescue.org/wp-content/uploads/2019/07/6769168-adorable-happy-dog-wallpaper-e1562706827803.jpg);
  background-size: cover;

}
